@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
* {
    margin: 0 auto;
    text-decoration: none;
    font-size: 12pt;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none; 
}
html, body {
    height: 100%;
    display: grid;
    place-items: center;
    background: #000;
}
.page-container {
    display: grid;
}
.content {
    display: grid;
    line-height: 0.9;
}
h1 {
    font-family: "Comfortaa", cursive;
    font-size: 5em;
    color: #1E90FF;
    text-shadow: 0 0 10px #1E90FF, 0 0 30px #1E90FF;
}
h2 {
    font-family: "Comfortaa", cursive;
    font-size: 2em;
    color: #ff1493;
    text-shadow: 0 0 5px #ff1493, 0 0 10px #ff1493, 0 0 15px #ff1493, 0 0 20px #ff1493;
}